@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.container{
    width: 320px;
}
.add-friend-btn {
    background-color: #4b8f3a;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.add-friend-btn:hover {
    background-color: #3c752d;
    transform: translateY(-3px);
}

.leaderboard h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #52c333;
}

.friend-list {
    list-style: none;
    padding: 0;
}

.friend-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.friend-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.friend-name, .friend-points {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.friend-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #4b8f3a;
}

.message {
    margin-top: 10px;
    font-size: 12px;
    color: #3ec526;
}
